/.vs/
dll/MovieManagerImplement/MovieManagerImplement/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
dll/MovieManagerImplement/MovieManagerImplement/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
dll/MovieManagerImplement/MovieManagerImplement/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
dll/MovieManagerImplement/.vs/MovieManagerImplement/v15/Server/sqlite3/storage.ide-wal
dll/MovieManagerImplement/.vs/MovieManagerImplement/v15/Server/sqlite3/storage.ide-shm
dll/MovieManagerImplement/.vs/MovieManagerImplement/v15/Server/sqlite3/storage.ide
dll/MovieManagerImplement/.vs/MovieManagerImplement/v15/Server/sqlite3/db.lock
dll/Client/.vs/Client/v15/Server/sqlite3/